Repository omisego/ewallet, pull requests merged in 2019-06, with the labels that each got.

#1001 Add auth token expiration
  apps/admin_api/lib/admin_api/v1/auth/admin_user_auth.ex
  apps/admin_api/test/admin_api/v1/controllers/admin_user_controller_test.exs
  apps/admin_api/test/admin_api/v1/controllers/user_controller_test.exs
  apps/ewallet/lib/ewallet/auth/user_authenticator.ex
  apps/ewallet/test/ewallet/auth/user_auth_token_test.exs
  apps/ewallet_api/lib/ewallet_api/v1/auth/client_auth.ex
  apps/ewallet_api/test/ewallet_api/v1/auth/client_auth_test.exs
  apps/ewallet_api/test/ewallet_api/v1/plugs/client_auth_plug_test.exs
  apps/ewallet_config/config/config.exs
  apps/ewallet_db/config/config.exs
  apps/ewallet_db/lib/ewallet_db/auth_token.ex
  apps/ewallet_db/lib/ewallet_db/expirers/auth_expirer.ex
  apps/ewallet_db/lib/ewallet_db/pre_auth_token.ex
  apps/ewallet_db/priv/repo/migrations/20190426083108_add_expire_at_to_auth_tokens.exs
  apps/ewallet_db/priv/repo/migrations/20190426083132_add_expire_at_to_pre_auth_tokens.exs
  apps/ewallet_db/test/ewallet_db/auth_token_test.exs
  apps/ewallet_db/test/ewallet_db/expirers/auth_expirer_test.exs
  apps/ewallet_db/test/ewallet_db/pre_auth_token_test.exs
  apps/frontend/assets/src/adminPanelApp/routes/index.js
  apps/frontend/assets/src/omg-session/reducer.js
Labels: flag/needs upgrade path :hammer_and_wrench:

#1066 Fix can't filter for some fields
  apps/ewallet/lib/ewallet/web/v1/overlays/invite_overlay.ex
  apps/ewallet/lib/ewallet/web/v1/overlays/token_overlay.ex
  apps/ewallet/lib/ewallet/web/v1/overlays/transaction_consumption_overlay.ex
  apps/ewallet/lib/ewallet/web/v1/overlays/user_overlay.ex
Labels: kind/bug :warning:

#1057 Token expiration config for admin
  apps/frontend/assets/package.json
  apps/frontend/assets/src/adminPanelApp/index.js
  apps/frontend/assets/src/adminPanelApp/middlewares/tokenExpireMiddleware.js
  apps/frontend/assets/src/adminPanelApp/routes/history.js
  apps/frontend/assets/src/adminPanelApp/routes/index.js
  apps/frontend/assets/src/index.js
  apps/frontend/assets/src/omg-alert/reducer.js
  apps/frontend/assets/src/omg-app-layout/index.js
  apps/frontend/assets/src/omg-page-configuration/index.js
  apps/frontend/assets/src/services/configurationService.js
  apps/frontend/assets/src/store/index.js
Labels: location/admin panel

#1068 2Fa admin improvement
  apps/frontend/assets/src/omg-2fa-modal/Disable2FaModal.js
  apps/frontend/assets/src/omg-2fa-modal/Enable2FaModal.js
  apps/frontend/assets/src/omg-2fa-modal/Enter2FaModal.js
  apps/frontend/assets/src/omg-alert/reducer.js
  apps/frontend/assets/src/services/adminService.js
  package-lock.json
Labels: location/admin panel

#1058 Wallet detail transaction
  apps/frontend/assets/src/adminPanelApp/routes/index.js
  apps/frontend/assets/src/omg-page-api/AdminKeySection.js
  apps/frontend/assets/src/omg-page-api/index.js
  apps/frontend/assets/src/omg-page-each-account/AccountLayout.js
  apps/frontend/assets/src/omg-page-each-account/AccountNavigationBar.js
  apps/frontend/assets/src/omg-page-each-account/WalletDropdownChooser.js
  apps/frontend/assets/src/omg-page-user-detail/index.js
  apps/frontend/assets/src/omg-page-wallet-detail/WalletBalances.js
  apps/frontend/assets/src/omg-page-wallet-detail/WalletTransaction.js
  apps/frontend/assets/src/omg-page-wallet-detail/index.js
  apps/frontend/assets/src/omg-uikit/index.js
  apps/frontend/assets/src/omg-uikit/tabButton/index.js
  apps/frontend/assets/src/omg-wallet/walletProvider.js
Labels: location/admin panel

#1070 Improve backup code verification performance
  apps/ewallet/lib/ewallet/auth/backup_code_authenticator.ex
  apps/ewallet/lib/ewallet/auth/two_factor_authenticator.ex
  apps/ewallet/test/ewallet/auth/backup_code_authenticator_test.exs
  apps/ewallet/test/ewallet/auth/two_factor_authenticator_test.exs
  apps/ewallet_db/lib/ewallet_db/user_backup_code.ex
  apps/ewallet_db/test/ewallet_db/auth_token_test.exs
  apps/ewallet_db/test/ewallet_db/expirers/auth_expirer_test.exs
  apps/ewallet_db/test/ewallet_db/pre_auth_token_test.exs
  apps/ewallet_db/test/ewallet_db/user_backup_code_test.exs
Labels: kind/bug :warning:
