Repository omisego/ewallet, pull requests merged in 2019-07, with the labels that each got.

#1077 Cancel transaction request consumption
  apps/frontend/assets/src/adminPanelApp/index.js
  apps/frontend/assets/src/adminPanelApp/routes/index.js
  apps/frontend/assets/src/omg-alert/reducer.js
  apps/frontend/assets/src/omg-consumption-panel/ConsumptionBox.js
  apps/frontend/assets/src/omg-consumption-panel/index.js
  apps/frontend/assets/src/omg-consumption/action.js
  apps/frontend/assets/src/omg-consumption/reducer.js
  apps/frontend/assets/src/omg-page-consumption/index.js
  apps/frontend/assets/src/omg-page-transaction/TransactionTable.js
  apps/frontend/assets/src/omg-page-transaction/index.js
  apps/frontend/assets/src/omg-transaction-request-tab/ConsumeBox.js
  apps/frontend/assets/src/omg-transaction-request-tab/PropertiesTab.js
  apps/frontend/assets/src/omg-transaction-request/action.js
  apps/frontend/assets/src/omg-transaction-request/reducer.js
  apps/frontend/assets/src/services/consumptionService.js
  apps/frontend/assets/src/services/transactionRequestService.js
Labels: location/admin panel

#1072 Add `blockchain_wallet.get` and `blockchain_wallet.all`
  apps/admin_api/lib/admin_api/v1/controllers/blockchain_wallet_controller.ex
  apps/admin_api/lib/admin_api/v1/router.ex
  apps/admin_api/lib/admin_api/v1/views/blockchain_wallet_view.ex
  apps/admin_api/priv/spec.json
  apps/admin_api/priv/spec.yaml
  apps/admin_api/priv/swagger/blockchain_wallet/paths.yaml
  apps/admin_api/priv/swagger/blockchain_wallet/request_bodies.yaml
  apps/admin_api/priv/swagger/blockchain_wallet/response_schemas.yaml
  apps/admin_api/priv/swagger/blockchain_wallet/responses.yaml
  apps/admin_api/priv/swagger/blockchain_wallet/schemas.yaml
  apps/admin_api/priv/swagger/swagger.yaml
  apps/admin_api/test/admin_api/v1/controllers/blockchain_wallet_controller_test.exs
  apps/admin_api/test/admin_api/v1/views/blockchain_wallet_view_test.exs
  apps/eth_blockchain/lib/eth_blockchain/abi_encoder.ex
  apps/eth_blockchain/test/support/dumb_adapter.ex
  apps/ewallet/lib/ewallet/fetchers/blockchain_balance_fetcher.ex
  apps/ewallet/lib/ewallet/validators/transaction_consumption_validator.ex
  apps/ewallet/lib/ewallet/web/blockchain_balance_loader.ex
  apps/ewallet/lib/ewallet/web/v1/overlays/blockchain_wallet_overlay.ex
  apps/ewallet/lib/ewallet/web/v1/serializers/blockchain_wallet_serializer.ex
  apps/ewallet/priv/swagger/blockchain_wallet/schemas.yaml
  apps/ewallet/test/ewallet/fetchers/blockchain_balance_fetcher_test.exs
  apps/ewallet/test/ewallet/web/blockchain_balance_loader_test.exs
  apps/ewallet/test/ewallet/web/v1/serializers/blockchain_wallet_serializer_test.exs
  apps/ewallet_db/lib/ewallet_db/blockchain_wallet.ex
  apps/ewallet_db/lib/ewallet_db/global_role.ex
  apps/ewallet_db/lib/ewallet_db/role.ex
  apps/ewallet_db/lib/ewallet_db/transaction_request.ex
Labels: kind/enhancement :rocket:

#1104 Fix reset password bug
  apps/frontend/assets/src/omg-createNewPassword-form/index.js
Labels: location/admin panel

#1105 Fix forget password / alert invite admin
  apps/frontend/assets/src/adminPanelApp/routes/index.js
  apps/frontend/assets/src/omg-alert/reducer.js
  apps/frontend/assets/src/omg-createNewPassword-form/index.js
  apps/frontend/assets/src/omg-session/reducer.js
Labels: location/admin panel

#1112 Blockchain wallet page
  apps/frontend/assets/src/adminPanelApp/routes/index.js
  apps/frontend/assets/src/omg-app-layout/SideNavigation.js
  apps/frontend/assets/src/omg-blockchain-wallet/action.js
  apps/frontend/assets/src/omg-blockchain-wallet/blockchainwalletsFetcher.js
  apps/frontend/assets/src/omg-blockchain-wallet/reducer.js
  apps/frontend/assets/src/omg-blockchain-wallet/selector.js
  apps/frontend/assets/src/omg-create-blockchain-transaction-modal/index.js
  apps/frontend/assets/src/omg-modal/ModalController.js
  apps/frontend/assets/src/omg-page-account/index.js
  apps/frontend/assets/src/omg-page-blockchain-wallet-detail/BlockchainSettingsPage.js
  apps/frontend/assets/src/omg-page-blockchain-wallet-detail/BlockchainTokensPage.js
  apps/frontend/assets/src/omg-page-blockchain-wallet-detail/BlockchainTransactionsPage.js
  apps/frontend/assets/src/omg-page-blockchain-wallet-detail/TabMenu.js
  apps/frontend/assets/src/omg-page-blockchain-wallet-detail/index.js
  apps/frontend/assets/src/omg-page-blockchain-wallets/index.js
  apps/frontend/assets/src/omg-transaction/CreateBlockchainTransactionButton.js
  apps/frontend/assets/src/omg-uikit/input/index.js
  apps/frontend/assets/src/reducer/index.js
  apps/frontend/assets/src/services/blockchainWalletService.js
Labels: location/admin panel

#1114 Web3 integration
  apps/frontend/assets/.eslintrc.json
  apps/frontend/assets/package-lock.json
  apps/frontend/assets/package.json
  apps/frontend/assets/src/adminPanelApp/routes/index.js
  apps/frontend/assets/src/index.js
  apps/frontend/assets/src/omg-alert/reducer.js
  apps/frontend/assets/src/omg-app-layout/SideNavigation.js
  apps/frontend/assets/src/omg-app-layout/index.js
  apps/frontend/assets/src/omg-blockchain-deposit-modal/index.js
  apps/frontend/assets/src/omg-create-blockchain-transaction-modal/blockchainTokens.js
  apps/frontend/assets/src/omg-create-blockchain-transaction-modal/index.js
  apps/frontend/assets/src/omg-create-blockchain-transaction-modal/styles.js
  apps/frontend/assets/src/omg-modal/FullpageModal.js
  apps/frontend/assets/src/omg-modal/ModalController.js
  apps/frontend/assets/src/omg-page-admins/index.js
  apps/frontend/assets/src/omg-page-blockchain-connect/index.js
  apps/frontend/assets/src/omg-token-select/index.js
  apps/frontend/assets/src/omg-transaction/CreateBlockchainTransactionButton.js
  apps/frontend/assets/src/omg-uikit/select/index.js
  apps/frontend/assets/src/omg-web3/action.js
  apps/frontend/assets/src/omg-web3/constants.js
  apps/frontend/assets/src/omg-web3/reducer.js
  apps/frontend/assets/src/omg-web3/selector.js
  apps/frontend/assets/src/omg-web3/web3.js
  apps/frontend/assets/src/omg-web3/web3Utils.js
  apps/frontend/assets/src/reducer/index.js
  apps/frontend/assets/src/store/index.js
  apps/frontend/assets/statics/images/metamask.svg
Labels: location/admin panel

#1122 Blockchain configuration page ui
  apps/frontend/assets/src/adminPanelApp/routes/index.js
  apps/frontend/assets/src/adminPanelApp/theme.js
  apps/frontend/assets/src/omg-alert/index.js
  apps/frontend/assets/src/omg-alert/reducer.js
  apps/frontend/assets/src/omg-app-layout/SideNavigation.js
  apps/frontend/assets/src/omg-page-configuration/BlockchainSettings.js
  apps/frontend/assets/src/omg-page-configuration/CacheSettings.js
  apps/frontend/assets/src/omg-page-configuration/ConfigRow.js
  apps/frontend/assets/src/omg-page-configuration/EmailSettings.js
  apps/frontend/assets/src/omg-page-configuration/FileStorageSettings.js
  apps/frontend/assets/src/omg-page-configuration/GlobalSettings.js
  apps/frontend/assets/src/omg-page-configuration/index.js
Labels: location/admin panel

#1111 Create cold wallet references
  apps/admin_api/lib/admin_api/v1/controllers/blockchain_wallet_controller.ex
  apps/admin_api/lib/admin_api/v1/controllers/configuration_controller.ex
  apps/admin_api/lib/admin_api/v1/router.ex
  apps/admin_api/priv/spec.json
  apps/admin_api/priv/spec.yaml
  apps/admin_api/priv/swagger/blockchain_wallet/paths.yaml
  apps/admin_api/priv/swagger/blockchain_wallet/request_bodies.yaml
  apps/admin_api/priv/swagger/blockchain_wallet/response_schemas.yaml
  apps/admin_api/priv/swagger/swagger.yaml
  apps/admin_api/test/admin_api/v1/controllers/blockchain_wallet_controller_test.exs
  apps/admin_api/test/support/conn_case.ex
  apps/ewallet/lib/ewallet/gates/blockchain_transaction_gate.ex
  apps/ewallet/lib/ewallet/gates/token_gate.ex
  apps/ewallet/lib/ewallet/web/v1/serializers/blockchain_wallet_serializer.ex
  apps/ewallet/priv/swagger/blockchain_wallet/schemas.yaml
  apps/ewallet/test/ewallet/gates/blockchain_transaction_gate_test.exs
  apps/ewallet/test/ewallet/web/v1/serializers/blockchain_wallet_serializer_test.exs
  apps/ewallet/test/support/db_case.ex
  apps/ewallet_db/lib/ewallet_db/blockchain_validator.ex
  apps/ewallet_db/lib/ewallet_db/blockchain_wallet.ex
  apps/ewallet_db/priv/repo/migrations/20190710085358_add_blockchain_identifier_to_blockchain_wallet.exs
  apps/ewallet_db/priv/repo/seeds_blockchain/02_blockchain_wallet.exs
  apps/ewallet_db/test/ewallet_db/blockchain_wallet_test.exs
  apps/ewallet_db/test/support/factory.ex
Labels: flag/ethereum integration, kind/enhancement :rocket:

#1126 Fix private key generation
  apps/keychain/lib/keychain/wallet.ex
Labels: flag/ethereum integration, kind/bug :warning:, location/backend

#1124 Move balance parsing logic to eth_blockchain
  apps/eth_blockchain/lib/eth_blockchain/balance.ex
  apps/eth_blockchain/test/eth_blockchain/adapter_test.exs
  apps/eth_blockchain/test/support/dumb_adapter.ex
  apps/eth_geth_adapter/lib/eth_geth_adapter/balance.ex
  apps/eth_geth_adapter/test/eth_geth_adapter/balance_test.exs
Labels: flag/ethereum integration, location/backend
